:root {
  --primary-color: #000000 !important;
  --color-0: #eeeeee !important;
  --color-1: #2E2E2E !important;
  --color-2: #dde2e4 !important;
  --color-3: #170F49 !important;
  --color-4: #7B7B7B !important;
  --color-5: #F4F4F4 !important;
  --color-6: #9D9D9D !important;
  --color-7: #ECECEC !important;
}
